/* button{
    background-color: black;
    color: white;
    height: 4vw;
    width: 7vw;
    border-radius: 3vw;
    font-size: 16px;
}

button:hover{
    background-color: white;
    color: black;
}

button:active{
    background-color: pink;
    color: white;
}

input[id="yes"]:checked + label{
    color: Green;
    font-weight: bolder;
}

input[id="no"]:checked + label{
    color: red;
    font-weight: bolder;
}

div:nth-of-type(2n) {
    background-color: rgb(240, 238, 235);
}

div::selection{
    background-color: yellowgreen;
} */

/* div{
    background-color: blue;
}

p{
    background-color: yellow;
} */

div{
    height: 100px;
    width: 300px;
    background-color: green;
    margin: 10px auto;
    animation-name: myfontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes myfontAnimation{
    from{
        font-size: 16px;
    }
    to{
        font-size: 40px;
    }
}

/* div:hover{
    background-color: black;
    border-radius: 50%;
}  */

/* div{
    transform: rotate(45deg);
    transform: scale(1);
} */