*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}

.box{
    height: 300px;
    width: 300px;
    border: 5px solid #000;
    background-color: crimson;
}

@media (max-width: 600px) {
    .box{
        background-color: blue;
    }
}