@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plywrite IN", serif;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}