@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Liter", serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(64, 176, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

#container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    background-size: cover;
    background-position: top;
}

#container i{
    color: rgb(255, 255, 255);
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: all ease 0.4s;
}
