*{
    font-family: Georgia;
    line-height: 30px;
}

h1{
    text-decoration: blue underline;
}
h1, h3, p{
    text-align: center;
}

a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}

button{
    background-color: #fff;
    color: blueviolet;
}

textarea{
    color: rgb(0, 0, 0);
}

