h1{
    text-decoration: #f00 line-through;
    width: 25%;
    /* border: solid 2px white; */
    text-align: right;
    font-family: rockwell;
    color: white;
    font-size: 35px;
}

p{
    color:white;
    text-align: justify;
    font-family:cursive;
}

body{
    background-color: rgb(11, 11, 11);
}

a{
    color:rgb(63, 141, 230);
    text-decoration: none;
}